
Infraccional.AccesoDatos/bin/

Infraccional.AccesoDatos/obj/

Infraccional.Negocio/bin/

Infraccional.Negocio/obj/

Infraccional.ObjetoTransferencia/bin/

Infraccional.ObjetoTransferencia/obj/

ServicioInfraccional/bin/

ServicioInfraccional/obj/

ServicioInfraccional/log/

ServicioInfraccional/Properties/PublishProfiles/

.vs/ServicioInfraccional/v16/Server/sqlite3/
